<!DOCTYPE html>
    <html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="/css/login.css">
        <script src="/js/register.js" defer></script>
        <title>Document</title>
    </head>
    <body>
        <div class="login-page">
            <div class="form">
              <form class="login-form">
                <input id="user_id" type="text" placeholder="아이디"/>
                <input id="name" type="text" placeholder="이름"/>
                <input id="password" type="password" placeholder="비밀번호"/>
                <input id="confirm-password" type="password" placeholder="비밀번호 확인"/>
                <p id="button">SIGN UP</p>
                <p class="message">Already registered? <a href="/login">login</a></p>
              </form>
              <!-- form태그는 기본적으로 form안에 있는 button을 submit해주는 기능을 갖고 있음 -> 새로운 페이지가 reload됨 -->
            </div>
          </div>
    </body>
    </html>

<!-- Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->